header {
    border-bottom: solid 1px #d8d8d8;
}

.menu-head {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
}

.menu-logo a {
    font-size: 2em;
    font-weight: 700;
    color: #e50914;
    letter-spacing: 0.1em;
}

.menu-logo {
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  